@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "./styles/config.css";
@import "./styles/layouts/dashboard.css";
@import "./styles/layouts/form.css";
@import "./styles/components/button.css";

